body{
    background-color:black;
    color: whitesmoke;
    font-size: large;
    max-width: 960px;
    min-width: 480px;
    margin: auto;
}

header{
    text-align: left;
    height: 100px;
    display: flex;
    border: skyblue 5px;
    border-style: inset;
    margin: 20px;
    background-color: darkolivegreen;
}

#logo{
    height: 40px;
    border: tan solid 2px;
    padding: 2px;
    margin-right: 20px;
}

#menu{
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 5px;
}

li{
    list-style: none;
    padding: 5px 30px 0px 30px;
}

main{
    display: flex;
    text-align: justify;    
}

section{
    margin: 30px;
}

.doboz{
    text-align: center;
    font-style: italic;
}

.box{
    display: inline-block;
    margin: 7px;
    padding: 5px;
    width: 30%;
    background-color: gray;
}

.pic{
    width: 100%;
    height: auto;
}

footer{
    text-align: center;
}

#up{
    width: 25px;
}