body {
    background-color:black;
    color: whitesmoke;
    font-size: large;
    margin: 10px;
}

header {
    height: 100px;
    margin: 20px;
    background-color: rgba(85, 107, 47, 0.247);
    border: skyblue 5px;
    border-style: inset;
}

#logo {
    float: left;
    height: 50px;
    border: tan solid 2px;
    padding: 2px;
    margin: 20px;
}
header p {
    line-height: 100px;
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: darkgray;
    border: whitesmoke 4px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    width: 21%;
}

main, p {
    text-align: justify;    
}

section {
    margin: 30px;
}

.index-box {
    text-align: center;
    font-style: italic;
    display: inline-block;
    margin: 7px;
    padding: 5px;
    width: 31%;
    background-color: gray;
}

h3 {
    text-align: center;
}

.pic {
    width: 100%;
}

footer {
    text-align: center;
}

#up {
    width: 25px;
}

/* WOKRS */

.works img {
    float: left;
    width: 25%;
    padding: 5px;
    margin-right: 20px;
    min-width: 200px;
}

article {
    display: inline-block;
    border: aqua solid 2px;
    padding: 20px;
    margin-bottom: 50px;
}

/* GALLERY */

.pic-gal {
    margin: 10px;
    padding: 10px;
    width: 30%;
    border: solid 2px;
    box-shadow: 3px 6px darkgray;
}

/* ABOUT */

.lists {
    display: inline-block;
    margin-bottom: 50px;
}

aside {
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.192);
    padding: 2px;
    border: brown solid 4px;
}

#input {
    background-color: darkslategray;
    max-width: 450px;
}

textarea, input {
    margin: 5px 0px 10px;
}

@media screen and (max-width: 576px) {
    .pic-gal {
        width: 100%;
        margin-bottom: 20px;
    }
}