body{
    background-color:black;
    color: whitesmoke;
    font-size: large;
    max-width: 960px;
    min-width: 480px;
    margin: auto;
}

header{
    text-align: left;
    height: 100px;
    display: flex;
    border: skyblue 5px;
    border-style: inset;
    margin: 20px;
    background-color: darkolivegreen;
}

#logo{
    height: 40px;
    border: tan solid 2px;
    padding: 2px;
    margin-right: 20px;
}

#menu{
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 5px;
}

#list{
    list-style: none;
    padding: 5px 30px 0px 30px;
}

main, p{
    display: flex;
    text-align: justify;    
}

section{
    margin: 30px;
}

.doboz{
    text-align: center;
    font-style: italic;
}

.box{
    display: inline-block;
    margin: 7px;
    padding: 5px;
    width: 30%;
    background-color: gray;
}

.pic{
    width: 100%;
    height: auto;
}

footer{
    text-align: center;
}

#up{
    width: 25px;
}

h3{
    text-align: center;
}

.works img{
    float: left;
    width: 400px;
    padding: 5px;
    margin-right: 20px;
}
.worksdiv{
    display: inline;
}

article{
    border: aqua solid 2px;
    padding: 10px;
    margin-bottom: 50px;
}

table{
    margin: auto;
    text-align: center;
}

td img{
    margin: 10px;
    padding: 10px;
    max-width: 240px;
    border: solid 1px;
    box-shadow: 5px 10px darkgray;
}

aside{
    position: absolute;
    top: 1220px;
    left: 800px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.192);
    padding: 2px;
    border: brown solid 4px;
}

#input{
    background-color: darkslategray;
    max-width: 450px;
}

textarea, input{
    margin: 5px 0px 10px;
}